{% load i18n %}
{% autoescape off %}
<h1>{% blocktrans %} Нова сервизна поръчка е създадена на ServiceManager.net{% endblocktrans %}</h1>
<p>{% trans 'Уважаеми' %}, {{ service_order.customer.name }}.</p>
<p>{% blocktrans %}Уведомяваме Ви, че на нашият сайт е създадена сервизна поръчка за следният актив:{% endblocktrans %}</p>
<p>{% trans 'Brand' %}: {{ service_order.customer_asset.asset.brand.name }}</p>
<p>{% trans 'Model Name' %}: {{ service_order.customer_asset.asset.model_name }}</p>
<p>{% trans 'Model Number' %}: {{ service_order.customer_asset.asset.model_number }}</p>
<p>{% trans 'Serial Number' %}: {{ service_order.customer_asset.serial_number }}</p>
<p>{% trans 'Product Number' %}: {{ service_order.customer_asset.product_number }}</p>
<hr>
<p>{% blocktrans %}Вашата сервизна поръчка е заведена в нашата система като{% endblocktrans %}
    : {{ service_order.ik }}</p>
<p>{% blocktrans %}Създадена на{% endblocktrans %}: {{ service_order.created_on }}</p>
<hr>
{% if service_order.handedover_by %}
    <p>{% blocktrans %}Актива е предаден на{% endblocktrans %} {{ service_order.handedover_by }}</p>
{% endif %}
<p>{% blocktrans %}Ще се свържем с Вас при предприети действия по поръчката.{% endblocktrans %}</p>

{% trans "Благодарим Ви, че използвате услугите ни!" %}

{% blocktrans %}Екипът на Елком Сервиз ЕООД{% endblocktrans %}

{% endautoescape %}
